In [18]:
import sys

assert sys.version_info >= (3, 7)
import sklearn

assert sklearn.__version__ >= "1.0.1"
import matplotlib as mpl
import matplotlib.pyplot as plt

plt.rc('font', size=14)
plt.rc('axes', labelsize=14, titlesize=14)
plt.rc('legend', fontsize=14)
plt.rc('xtick', labelsize=10)
plt.rc('ytick', labelsize=10)
from pathlib import Path

IMAGES_PATH = Path() / "images" / "regression"
IMAGES_PATH.mkdir(parents=True, exist_ok=True)

def save_fig(fig_id, tight_layout=True, fig_extension="png", resolution=300):
    path = IMAGES_PATH / f"{fig_id}.{fig_extension}"
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format=fig_extension, dpi=resolution)

# Data preparation

In [19]:
import pandas as pd

# Load the Bike Shop dataset from Git
url = 'https://raw.githubusercontent.com/VAWi-DataScience/Data-Science-and-Machine-Learning/main/Assignment/WiSe22_23/03_Retail_Clustering.csv'
shoppingDF = pd.read_csv(url, sep=';')
shoppingDF.head()

,Year_Birth,Education,Marital_Status,Estimated_Income,Kid_home,Teen_home,Registration_date,Recency,Exist_Complain,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumWebPurchases,NumCatalogPurchases,NumStorePurchases
0,1957,Graduation,Single,58138.0,0,0,04.09.2020,58,0,635,88,546,172,88,88,8,10,4
1,1954,Graduation,Single,46344.0,1,1,08.03.2022,38,0,11,1,6,2,1,6,1,1,2
2,1965,Graduation,Together,71613.0,0,0,21.08.2021,26,0,426,49,127,111,21,42,8,2,10
3,1984,Graduation,Together,26646.0,1,0,10.02.2022,26,0,11,4,20,10,3,5,2,0,4
4,1981,PhD,Married,58293.0,1,0,19.01.2022,94,0,173,43,118,46,27,15,5,3,6

In [20]:
shoppingDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year_Birth           2240 non-null   int64
 1   Education            2240 non-null   object
 2   Marital_Status       2240 non-null   object
 3   Estimated_Income     2216 non-null   float64
 4   Kid_home             2240 non-null   int64
 5   Teen_home            2240 non-null   int64
 6   Registration_date    2240 non-null   object
 7   Recency              2240 non-null   int64
 8   Exist_Complain       2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumWebPurchases      2240 non-null   int64
 16  NumCatalogPurchases  2240 non-null   int64
 17  NumStorePurchases    2240 non-null   int64
dtypes: float64(1), int64(14), object(3)
memory usage: 315.1+ KB

In [21]:
# Checking how many missing values there are in general
shoppingDF.isna().sum()

Year_Birth              0
Education               0
Marital_Status          0
Estimated_Income       24
Kid_home                0
Teen_home               0
Registration_date       0
Recency                 0
Exist_Complain          0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
dtype: int64

In [22]:
shoppingDF.dropna(inplace=True)
shoppingDF.isna().sum()

Year_Birth             0
Education              0
Marital_Status         0
Estimated_Income       0
Kid_home               0
Teen_home              0
Registration_date      0
Recency                0
Exist_Complain         0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
dtype: int64

In [23]:
# Check if there are any duplicate datasets (Ignoring the ID, because it is unique)
shoppingDF.duplicated(subset=shoppingDF.columns.difference(['ID'])).sum()

201

In [24]:
# At last, it is important to check whether the minimum/maximum values of each column make sense.
excludedColumns = ('ID', 'Highest_Qualification', 'Marital_Status')
for elements in personDF:
    if elements in excludedColumns:
        continue
    print(f"In column {elements} the min is: {personDF[elements].min()}")
    print(f"In column {elements} the max is: {personDF[elements].max()}")
    print()

NameError: name 'personDF' is not defined

# 1. Cluster the existing data based on appropriate procedures. Justify how you would cluster the data set based on the results.